<div class="hero-unit">
  <h1>Interview Assignment</h1>
    </br>
    <p>
    Hi, I'm Brad Wilcox, applicant for the summer 2013 cohort at 
    <%= link_to "Bitmaker Labs", "http://bitmakerlabs.com" %>. 
    </p>

    <p>
	Here's a link to the first three assignments:
    </p>
	<%= link_to "Download", "http://dropbox.com", class: "btn btn-primary btn-large" %>
</div>


